.flex-container {
  display: flex;       /* Turns the container into a flexbox row */
  gap: 20px;           /* Adds space between the columns */
}

.collection-list {
  flex: 1;            
  padding: 15px;
  max-height: 90vh;
  overflow-y: auto;
}

.pokemon-description {
  flex: 2;             
  padding: 15px;
}


.list-group-item.active {
  --bs-list-group-active-bg: #198754;
  --bs-list-group-active-border-color: #198754;
  --bs-list-group-active-color: #fff;
}

/* Optional: Stack columns vertically on mobile screens */
@media (max-width: 600px) {
  .flex-container {
    flex-direction: column;
  }
}