

<div class="flex-container">
   @if (databaseService.pokemonList().length == 0) {
        <h2>No Pokemon Caught Yet</h2>
    }
    @else {
          <div class="collection-list">
              <div class="list-group">
              @for (item of databaseService.pokemonList(); track $index) {
                    <button type="button" class="list-group-item list-group-item-action" [class.active]="selectedButton() === $index" (click)="selectedButton.set($index); onSelect(item.speciesId, item.pokemonName); ">{{item.pokemonName}} - Caught at: {{ databaseService.toAmPm(item.date) }}</button>
              }
              </div>

          </div>
          <div class="pokemon-description">
            <app-pokemon-collection-detail />
          </div>
    }

</div>
