.buttonsRow {
    display: flex;
}



.title {
    margin-top: 30px;
}
.contentTitle {
    margin-bottom: 40px;
}

.genButton {
    border-radius: 10px;
}
.gen1 {
    background-color: lavender;
}
.gen2 {
    background-color: yellow;
}
.gen3 {
    background-color: #DC143C;
}
.gen4 {
    background-color: green;
}
.gen5 {
    background-color: lightgrey;
}
.gen6 {
    background-color: burlywood;
}
.gen7 {
    background-color: #1ed2ff;
}
.gen8 {
    background-color: #012169;
}
.gen9 {
    background-color: #ffd580;
}

.mainBody {
  display: flex;
  justify-content: center;
  padding: 5rem;
  background-color: var(--content-background-color);
  align-items: flex-start;
  min-height: 88vh;
  background-image: var(--bs-gradient);
}

.contentBody {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    border: 4px outset black;
    border-radius: 30px;
    background-color: white;
}


form label {
  margin-right: 1rem;
}



